@import "../node_modules/@sparkdesignsystem/spark-styles/spark.scss";

$brown-dark: #653c18;
$brown-light: #754c24;
$peach: #d6a478;
$tan: #e6d6af;

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg_title {
  background: url("./assets/title-bg.png");
  background-size: cover;
  background-position: center;
}

.bg_level_1 {
  background: url("./assets/Level 1 Background.png");
  background-size: cover;
}

.bg_game_over {
  background: url("./assets/placeholder_bg_3.jpeg");
  background-size: cover;
}

.House {
  background: url("./assets/Asset 9.png");
  background-size: cover;
  margin: 0 auto;

  height: 100px;
  width: 100px;
}

.house_progress_1 {
  background: url("./assets/Asset 10.png");
  background-size: cover;
}

.answerButton {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.endButton {
  margin-top: 150px;
}

.sprk-c-Button {
  font-size: 1.5rem;
  background-color: $peach;
  border: 4px solid $brown-dark;
  border-radius: 15px;
  color: tan;
  text-shadow: -1px -1px 0 $brown-dark, 1px -1px 0 $brown-dark,
    -1px 1px 0 $brown-dark, 1px 1px 0 $brown-dark;

  &:hover {
    background-color: $tan;
    color: $brown-dark;
    border: 4px solid $brown-dark;
    text-shadow: -1px -1px 0 $brown-light, 1px -1px 0 $brown-light,
      -1px 1px 0 $brown-light, 1px 1px 0 $brown-light;
  }
}
